
html {
  font-family: 'Lato', sans-serif;
  font-size:14px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url("/images/bg.jpg");*/
  background-color:#E8E8E8;

  height: 100%;
  width: 100%;
  padding-top: 15px; 
}

a {
  color: #00B7FF;
}

.image {
  position: relative;
  margin-top: 25px;
}

.canvas {
  position:absolute;
  z-index:10;
}

.image {
  position:absolute;
  border-radius: 6px;
  min-height: 500px;
  min-width: 1180px;
  text-align:center;
 } 

.image > IMG {
    max-width: 1180px;
    min-width: 1180px;
}

.text {

  font-size: 1.5em;  
  
}



.btn {margin-right: 10px;}

.pageWidth {
  width: 80%;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0px;
}

.navigation {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigation a {
  font-size: 14px;
  color:#4BC3CA;
  margin-right: 50px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation a.active {
  background-color: #fff; 
  padding: 10px 40px 10px 40px;
  text-align: center;
  border-radius: 50px;
  font-weight: 700;
}

.pageTitle {
 font-size: 40px; 
 margin-bottom: 20px;
}

.form  {
  background-color:#fff;
  padding: 20px 100px 200px 100px;
  font-size: 14px;
  height:400px;
}



.description {
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 15px;
}

input[type=file] {
    display: none;
}

.file {
  width: 485px;
  height: 41px;
  background-color: #F1F1F2;
  border-radius: 50px;
  line-height: 41px;
  padding-left: 20px;
  position:absolute;
  cursor: pointer;
}

.upload-file
{
  float:left;
  
}

.submit-button {
  padding: 10px 40px 10px 40px;
  background-color: #4BC3CA;
  border-radius: 50px;
  border: 0px;
  color:#fff;
  letter-spacing: 2px;
  font-weight:bold;
  width:248px;
  height: 41px;
}



.submit-login-button {
  
  padding: 10px 40px 10px 40px;
  background-color: #4BC3CA;
  border-radius: 50px;
  border: 0px;
  color:#fff;
  letter-spacing: 2px;
  font-weight:bold;
  width:168px;
  height: 41px;
  
  
}


.submit-video-button {
  padding: 10px 40px 10px 40px;
  background-color: #4BC3CA;
  border-radius: 50px;
  border: 0px;
  color:#fff;
  letter-spacing: 2px;
  font-weight:bold;
  width:148px;
  height: 41px;
}

.reset-video-button {
  margin-left: 15px;
 
  background-color: #BBBDBF;
  border-radius: 50px;
  border: 0px;
  color:#fff;
  letter-spacing: 2px;
  font-weight:bold;
  width:148px;
  height: 41px;
}

.videoFile {
    
  width: 400px;
  height: 41px;
  background-color: #F1F1F2;
  border-radius: 50px;
  line-height: 41px;
  padding-left: 20px;
  cursor: pointer;
  border:0px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 1180px;
    min-width:1180px;
 }
 
 

.inputs {
    float:left;
    width:980px;
    margin-bottom:25px;
}

.inputs .videoDiv {
    float:left;
    width: 400px;
    margin-right: 15px;
}

.inputs .options {
    float:left;
    width: 565px;
    height:41px;
    line-height: 35px;
}    

.inputs .options > select {
    width: 250px;
    -webkit-appearance: menulist-button;
    height:41px;
    margin-right: 15px;
}    
.upload-file {
    width: 450px;
    margin-top:55px;
}


.error {

  text-align:center;
  color:red;
  font-size: 19px;
  float:left;
  width:100%;
  margin-top: 45px;
}


/*Slider*/
#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

/* below is not necessary, just for style */
#slider {
    float: left;
    width:665px;
    margin-bottom:15px;
}

/*Slider*/